<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true"
         strict="false"
         bootstrap="./bootstrap.php">

    <testsuites>
        <testsuite name="Drupal Testing Tests">
            <directory suffix='Test.php'>./src</directory>
        </testsuite>
    </testsuites>

    <php>
        <const name="DRUPAL_ROOT" value="/path/to/your/drupal/install" />
        <const name="DRUPAL_BASEURL" value="http://url.of.drupal" />
    </php>

</phpunit>
