<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true"
         strict="false"
         bootstrap="./bootstrap.php">

    <testsuites>
        <testsuite name="Drupal Testing Tests">
            <directory suffix='Test.php'>./src</directory>
        </testsuite>
    </testsuites>

    <php>
        <const name="DRUPAL_ROOT" value="/path/to/your/drupal/install" />
        <const name="DRUPAL_BASEURL" value="http://url.of.drupal" />
        <const name="DRUPAL_ADMIN_PASSWORD" value="admin" />
        <!-- Uncomment the line below if DrupalInMemoryCache shouldn't be used
             to replace the normal DrupalDatabaseCache -->
        <!-- <const name="DISABLE_CACHE_REPLACEMENT" value="TRUE" /> -->
    </php>

</phpunit>
