<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true"
         strict="false"
         bootstrap="./bootstrap.php">

    <testsuites>
        <testsuite name="Drupal Testing Tests">
            <directory>./</directory>
        </testsuite>
    </testsuites>

</phpunit>